services:
  # node-project:
  #   build: .
  #   ports:
  #     - "${PORT}:3000"
  #   restart: always
  #   depends_on:
  #     - mongo

  mongo:
    image: mongo:latest
    restart: always
    env_file:
      - .env
    volumes:
      - oturum-mongo:/etc/data
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"

  mongo-express:
    image: mongo-express
    restart: always
    env_file:
      - .env
    ports:
      - "8081:3000"
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_BASICAUTH_USERNAME: root
      ME_CONFIG_BASICAUTH_PASSWORD: example

volumes:
  oturum-mongo: